{% extends "core/base_pagination.html" %}
{% load core %}

{% block page_head_title %}
<tr>
    <th scope="col">Título</th>
    <th scope="col">criado em</th>
    <th scope="col">Total</th>
    <th scope="col">Ações</th>
</tr>
{% endblock page_head_title %}

{% block page_body_columns %}
{% for categoria in object_list %}
<tr>
    <td>
        {{ categoria.title|title }}
    </td>
    <td>{{ categoria.created_at|date }}</td>
    <td class="text-end">{{ categoria.total|to_brl }}</td>
    <td>
        <div class="btn-group">
            <a href="{% url "categoria_update" slug=categoria.id %}" class="btn btn-info">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url "item_despesa_update" pk=categoria.id %}" class="btn btn-success">
                <i class="bi bi-clipboard-plus"></i>
            </a>
        </div>
    </td>
</tr>

{% empty %}
<tr><td rowspan="3">Lista vazia</td></tr>

{% endfor %}
{% endblock page_body_columns %}
